/* ==UserStyle==
@name           OneSky
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@updateURL      https://raw.githubusercontent.com/Weikardzaena/OneSky-Dark/master/onesky-dark.user.css
@advanced color bg-0 "Primary background color" #000000
@advanced color fg-primary-emph "Primary foreground color for emphasis" #ffffffdf
@advanced color fg-primary "Primary foreground color" #ffffff9a
@advanced color fg-disabled "Disabled text primary color" #ffffff61
@advanced color bg-1 "Level 1 background color" #ffffff0d
@advanced color bg-2 "Level 2 background color" #ffffff12
@advanced color bg-3 "Level 3 background color" #ffffff15
@advanced color bg-4 "Level 4 background color" #ffffff17
@advanced color bg-5 "Level 5 background color" #ffffff1c
@advanced color bg-6 "Level 6 background color" #ffffff1f
@advanced color bg-7 "Level 7 background color" #ffffff24
@advanced color bg-8 "Level 8 background color" #ffffff27
@advanced color bg-9 "Level 9 background color" #ffffff29
@advanced color ac-primary "Primary accent color" #2ea8e6
@advanced color ac-primary-alt "Alt primary accent color" #338a75
@advanced color ac-secondary "Secondary accent color" #bf6594
@advanced color ac-secondary-alt "Alt secondary accent color" #541d4c
@advanced color error "Error color" #cf5151
==/UserStyle== */
@-moz-document domain("oneskyapp.com") {

    /* SECTION: Global */
    body,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        color: /*[[fg-primary]]*/;
        background: /*[[bg-0]]*/;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        border-color: /*[[bg-0]]*/
    }

    h1,
    h2,
    h3,
    h4,
    h5 h6,
    .title-box h1 {
        color: /*[[fg-primary-emph]]*/
    }

    * {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    body a {
        color: /*[[ac-primary]]*/
    }

    .black-txt {
        color: /*[[fg-primary-emph]]*/
        !important;
    }

    .btn {
        background: /*[[bg-4]]*/;
        color: /*[[fg-primary-emph]]*/;
        border-color: /*[[bg-4]]*/
    }

    .btn-success {
        background: /*[[ac-primary-alt]]*/;
        border-color: /*[[ac-primary-alt]]*/
    }

    /* SECTION: Sign-in */
    .auth-content,
    .auth-form .hr-block .or-block {
        background: /*[[bg-2]]*/
    }

    /* SECTION: Left column nav */
    .o-column--left {
        background: /*[[bg-1]]*/
    }

    .c-project-navListItemLink:hover,
    .c-project-navListItemLink:focus {
        background: /*[[bg-2]]*/
    }

    .c-project-navHeader {
        color: /*[[fg-primary-emph]]*/;
    }

    .c-project-navListItemLink {
        color: /*[[fg-primary]]*/;
    }

    /* SECTION: Phrases page */
    .project-nav-phrase-meta {
        background: /*[[bg-1]]*/
    }

    /* SECTION: Dashboard */
    .dashboard-unit {
        background: /*[[bg-1]]*/
    }

    ul.feed-content li.feed-item .feed-more {
        background: /*[[bg-2]]*/
    }

    .dashboard-unit .unit-title .site-stat strong,
    ul.feed-content li.feed-item .feed-body {
        color: /*[[fg-primary]]*/
    }

    .dashboard-unit .feed-notice-content {
        background: /*[[ac-secondary]]*/
    }

    .dashboard-unit .feed-notice-content,
    .dashboard-unit .feed-notice-content h3 {
        color: /*[[ac-secondary-alt]]*/
    }

    .dashboard-unit,
    .dashboard-unit .unit-title,
    ul.feed-content li.feed-item {
        border-color: /*[[bg-0]]*/
    }

    /* SECTION: All Projects */
    .content-box .content-box-header .content-box-header-content .input-prepend .add-on {
        background: /*[[bg-0]]*/
    }

    .content-box-body,
    .content-box .content-box-header {
        background: /*[[bg-1]]*/
    }

    .platform-box {
        background: /*[[bg-4]]*/
    }

    .add-platform-box {
        background: /*[[bg-2]]*/
    }

    .platform-box-content .platform-data-box {
        background: /*[[bg-4]]*/
    }

    .platform-box .platform-name a,
    .platform-box .platform-icon a,
    .platform-box-content .platform-data-box .platform-data-time,
    .platform-box-content .platform-data-box .platform-data .platform-data-title,
    .platform-box-content .platform-data-box .platform-data {
        color: /*[[fg-primary]]*/
    }

    .platform-box,
    .content-box-body,
    .content-box .content-box-header,
    .platform-box-content .platform-data-box,
    .content-box .content-box-header .content-box-header-content .input-prepend .add-on {
        border-color: /*[[bg-0]]*/
    }
}
